<h1>The library of <%= h current_user.username %></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author(s)</th>
      <th>Released</th>
      <th>Binding</th>
      <th>Added On</th>
    </tr>
  </thead>
  <tbody>
  <% @library_entries.each do |library_entry| %>
    <tr>
      <td><%= h library_entry.book.title %></td>
      <td>N/A</td>
      <td><%= h library_entry.released %></td>
      <td><%= h library_entry.binding_type %></td>
      <td><%= h library_entry.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
