<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || "Kamitsukai") %></title>
    <%= stylesheet_link_tag('blueprint/screen', :media => 'screen, projection') %>
    <%= stylesheet_link_tag('blueprint/print', :media => 'print') %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag('blueprint/ie', :media => 'screen, projection') %>
    <![endif]-->
    <%= stylesheet_link_tag('application', 'formtastic', 'formtastic_changes', :cache => 'base') %>
    <%= javascript_include_tag(:defaults, :cache => true) %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <div id="logo" class="span-20">
          <h1>Kamitsukai</h1>
        </div>

        <div id="user_nav" class="span-4 last">
          <% if current_user %>
            (<%= h current_user.username %>)
            <%= link_to("Edit Profile", edit_user_path(:current)) %> |
            <%= link_to("Logout", logout_path) %>
          <% else %>
            <%= link_to("Register", new_user_path) %> |
            <%= link_to("Login", login_path) %>
          <% end %>
        </div>
      </div>
      <hr />

      <div id="contents" class="span-20">
        <%= yield %>
      </div>

      <div id="side_bar" class="span-4 last">
      </div>

      <div id="footer" class="span-24 last">
      </div>
    </div>
  </body>
</html>
